* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

html,body {
  height: 100%;
  width: 100%;
}
.main{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #111;
    overflow: hidden;
}

.elem{
    position: relative;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem h1{
    font-size: 5vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    height: 130px;
    width: 130px;
    object-fit:cover ;
    object-position: center;  
    border-radius: 50%; 
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s ;
}