* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  width: 100%;
  cursor: none;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.cursor{
    position: fixed;
    height: 55px;
    width: 55px;
    background-color: wheat;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}

h1{
    font-size: 10vw;
    font-weight: 900;
}
