/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    overflow: hidden;
}

.circle, .circle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    background: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #45a049;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}



.outer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #f6f1f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}


.outer1 {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
}

.progress1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, 150px, 150px, 75px);
    background: #4caf50;
}

.inner1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(135deg, #1f1c2c, #928dab);;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}



